{% extends "home/base.html" %}
{% block content %}
<body class="home page page-template page-template-template-portfolio page-template-template-portfolio-php">
		<div id="content" class="site-content">
			<div id="primary" class="content-area column full">
				<main id="main" class="site-main">

				<article class="hentry">
				<header class="entry-header">
				<h1 class="entry-title">Giới thiệu</h1>
				</header>
				<!-- .entry-header -->

				<div class="entry-content">
				<p><img style="border:10px solid #f4f5f6" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4IjcWx4VNV8kDGSMKCSC2w_LeiB1_LXtYnA&usqp=CAU" alt="bg5" width="430" class="alignright"></p>
				<p>Top Mốt là một trang web chuyên trang chia sẻ kiến thức về thời trang. Được thành lập từ năm 2013 với mục đích chia sẻ vì cảm hứng.</p>
				<p>Hiện tại chúng tôi đã có rất nhiều bài viết hướng dẫn về thời trang và làm đẹp.</p>
				<p>Với mong muốn phát triển quan điểm mới về kinh doanh và giải quyết được những thiếu sót của phương thức sản xuất, đặt hàng truyền thống; cuối năm 2015, chúng tôi bắt đầu viết nên câu chuyện của Moschino.</p>
				<p>Nhiệm vụ chúng tôi đề ra là hỗ trợ các cá nhân, tổ chức có ý tưởng nhưng lại không đủ nhân sự, kinh nghiệm hoặc vốn ban đầu để khởi chạy một dự án kinh doanh. Moschino được thành lập, là nền tảng kinh doanh online cho phép mọi người thiết kế và bán áo thun mà không tốn bất kì một chi phí hay rủi ro nào.</p>
				<p>Tại Moschino, chúng tôi mong muốn những ý tưởng sẽ không chỉ là ý tưởng, và kinh doanh online trở nên dễ dàng hơn bao giờ hết. Luôn sáng tạo và đổi mới không ngừng, tận tâm vì khách hàng sẽ luôn là kim chỉ nam hoạt động của Moschino.</p>
				<p>Năm 2019, Moschino mở rộng sản phẩm không chỉ là áo thun, mà còn nhiều hơn thế nữa. Đặt nền móng trở thành “Nền tảng kinh doanh sản phẩm sáng tạo” tốt nhất tại trường Việt Nam”.</p>
				<p>Chúng tôi hoàn toàn tin mình có thể làm nên những điều đó.</p>
				<h2 style="font-family: 'Herr Von Muellerhoff';color:#ccc;font-weight:300;">Nguyen Thanh Dat</h2>
				</div><!-- .entry-content -->
				</article>

				</main>
				<!-- #main -->
			</div>
			<!-- #primary -->
		</div>
</body>
{% endblock %}